@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #fb8819;
  overflow-x: hidden;
}

.logoCata {
  height: 30px;
  transition: all 0.2s;
}
.logoCata:hover {
  transform: scale(1.04);
}

.carritoCompras span {
  margin: 0 5px;
  font-size: 12px;
}

.boiler {
  display: block;
  position: relative;
}
.boiler .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1e21;
  color: white;
  z-index: 3;
  position: sticky;
}
.boiler .nav h1 {
  font-size: 1.1rem;
  margin: 0;
}
.boiler .nav .menu_toggle {
  cursor: pointer;
}
.boiler .nav nav {
  position: fixed;
  top: 3.9rem;
  left: 0;
  bottom: 0;
  background-color: #333;
  padding: 2rem;
  min-width: 300px;
  z-index: 2;
  transform: translate(-100%, 0);
}
.boiler .nav nav .contenedorIcono {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boiler .nav nav .contenedorIcono .cataIcono {
  height: 6rem;
  position: absolute;
  bottom: 0;
  bottom: 2rem;
  transition: all 0.5s;
  color: white;
}
.boiler .nav nav .contenedorIcono .cataIcono:hover {
  background-color: white;
  border-radius: 100%;
  transform: scale(0.9);
}
.boiler .nav nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.boiler .nav nav ul li {
  margin-bottom: 1rem;
  transform: translate(-100%, 0);
  opacity: 0;
}
.boiler .nav nav ul li .item_nav {
  color: inherit;
  background-color: #333;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.boiler .nav nav ul li .item_nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.boiler .nav nav ul li .item_nav:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.boiler .nav nav ul li .item_nav:hover {
  color: inherit;
}

.titulo__Cata {
  text-align: center;
  margin-top: 50px;
  font-weight: bolder;
}

.mejoresTexto {
  text-align: center;
  margin-top: 50px;
}

.containerTop {
  margin-bottom: 60px;
}
.containerTop .mejoresTexto h1 {
  font-weight: bolder;
}
.containerTop .container__cardsTop {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.containerSection .contenedorCards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.containerSection .contenedorCards .card {
  width: 190px;
  height: 150px;
  transition: all 0.5s;
  box-shadow: 0px 7px 15px 1px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 50px;
}
.containerSection .contenedorCards .card:hover {
  height: 254px;
  background: linear-gradient(360deg, rgba(237, 237, 237, 0.7725490196) 60%, hsl(0deg, 0%, 13%) 70%);
}
.containerSection .contenedorCards .card .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #212121;
  margin-bottom: 16px;
}
.containerSection .contenedorCards .card .header .title {
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  color: rgba(237, 237, 237, 0.7725490196);
  font-weight: bolder;
}
.containerSection .contenedorCards .card .header .img-box {
  display: flex;
  justify-content: center;
}
.containerSection .contenedorCards .card .header .img-box .imgBurger {
  height: 100px;
}
.containerSection .contenedorCards .card .header .img-box .imgPizza {
  height: 100px;
}
.containerSection .contenedorCards .card .header .img-box .imgPapas {
  height: 100px;
}
.containerSection .contenedorCards .card .content {
  display: block;
  text-align: justify;
  color: #212121;
  margin: 0 22px;
}
.containerSection .contenedorCards .card .content p {
  transition: all 0.5s;
  font-size: 1em;
  margin-bottom: 8px;
  font-weight: bolder;
  text-align: center;
}
.containerSection p {
  text-align: center;
}

.contenedorBuscador {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.contenedorBuscador .buscador {
  width: 600px;
}
.contenedorBuscador .botonBusc {
  background-color: #1a1e21;
}
.contenedorBuscador .botonBuschover {
  background-color: black;
}

@media (max-width: 753px) {
  .containerMedias {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerMedias .buscador {
    width: 390px;
    margin-bottom: 20px;
  }
}
@media (max-width: 429px) {
  .containerMedias .buscador {
    width: 250px;
    margin-bottom: 20px;
  }
}
@media (max-width: 669px) {
  .contenedorCards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 669px) {
  .container__cardsTop {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1220px) {
  .container__cardsN {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 280px) and (max-width: 508px) {
  .containerTP .tituloNosotros {
    text-align: center;
  }
  .containerTP p {
    width: 20rem;
  }
  .cardNosotros .profile, .cardNosotros .profile2 {
    max-width: 220px;
  }
  .cardNosotros .containerSocial .social-icons {
    right: 20%;
  }
}
@media (min-width: 508px) and (max-width: 750px) {
  .containerTP p {
    width: 28rem;
  }
}
@media (min-width: 704px) and (max-width: 1000px) {
  .containerTP p {
    width: 42rem;
  }
}
.card1--top {
  width: 190px;
  height: 254px;
  background: rgb(46, 44, 44);
  transition: all 300ms;
  border-radius: 10%;
}
.card1--top h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}
.card1--top .imgTop {
  height: 160px;
}
.card1--top .stars {
  display: flex;
  justify-content: center;
  color: yellow;
}
.card1--top:hover {
  transform: scale(1.1);
}

.card2--top {
  width: 190px;
  height: 254px;
  background: rgb(46, 44, 44);
  transition: all 300ms;
  border-radius: 10%;
}
.card2--top h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}
.card2--top .imgTop {
  height: 160px;
}
.card2--top .stars {
  display: flex;
  justify-content: center;
  color: yellow;
}
.card2--top:hover {
  transform: scale(1.1);
}

.card3--top {
  width: 190px;
  height: 254px;
  background: rgb(46, 44, 44);
  transition: all 300ms;
  border-radius: 10%;
}
.card3--top h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}
.card3--top .imgTop {
  height: 160px;
}
.card3--top .stars {
  display: flex;
  justify-content: center;
  color: yellow;
}
.card3--top:hover {
  transform: scale(1.1);
}

.container__cardsN {
  margin-top: 170px;
  margin-bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.container__cardsN .containerTP {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}
.container__cardsN .containerTP .tituloNosotros {
  font-weight: bolder;
}
.container__cardsN .containerTP p {
  font-size: 15px;
  text-align: center;
}
.container__cardsN .cardNosotros {
  margin: 0 14.3px;
}
.container__cardsN .cardNosotros .profile, .container__cardsN .cardNosotros .profile2 {
  position: relative;
  width: 270px;
  height: 350px;
  background: url("/img/Exequielfoto.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 12px;
  border-top-right-radius: 35px;
  border-radius: 7px;
}
.container__cardsN .cardNosotros .profile .overlay, .container__cardsN .cardNosotros .profile2 .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.9s;
  border-radius: 6px;
}
.container__cardsN .cardNosotros .profile .overlay .about, .container__cardsN .cardNosotros .profile2 .overlay .about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
}
.container__cardsN .cardNosotros .profile .overlay:hover, .container__cardsN .cardNosotros .profile2 .overlay:hover {
  opacity: 1;
}
.container__cardsN .cardNosotros .profile2 {
  background-image: url("/img/silvioFoto.jpg");
  background-size: cover;
  background-position: center;
}
.container__cardsN .cardNosotros .containerSocial .social-icons {
  display: flex;
  list-style: none;
  bottom: 10px;
  position: absolute;
  text-align: center;
  justify-content: center;
  left: 11%;
}
.container__cardsN .cardNosotros .containerSocial .social-icons a {
  text-decoration: none;
}
.container__cardsN .cardNosotros .containerSocial .social-icons li {
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  padding: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  transition: all 1s;
}
.container__cardsN .cardNosotros .containerSocial .social-icons li:hover {
  background: #fff;
  color: #000;
}

.containerIR1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.containerIR1 .containerForm1 {
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 25rem;
  border-radius: 20px;
  height: 22.5rem;
  color: white;
  box-shadow: 4px 12px 20px 5px rgba(0, 0, 0, 0.5);
}
.containerIR1 .containerForm1 .mover .containerLetras {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.containerIR1 .containerForm1 .mover .containerLetras h2 {
  font-weight: bolder;
  color: black;
}
.containerIR1 .containerForm1 .mover .containerLetras .imagenUsuario {
  position: absolute;
  bottom: 3rem;
  height: 13vh;
}
.containerIR1 .containerForm1 .mover .formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 16px;
}
.containerIR1 .containerForm1 .mover .formulario input {
  border: none;
  width: 230px;
  border-bottom: 1px solid black;
}
.containerIR1 .containerForm1 .mover .formulario input:focus {
  outline: none;
}
.containerIR1 .containerForm1 .mover .formulario .textoRegister {
  color: black;
}
.containerIR1 .containerForm1 .mover .formulario .textoRegister a {
  text-decoration: none;
  transition: all 0.2s;
  font-weight: bolder;
}
.containerIR1 .containerForm1 .mover .formulario .textoRegister a:hover {
  color: orange;
}
.containerIR1 .containerForm1 .mover .formulario button {
  display: inline-block;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR1 .containerForm1 .mover .formulario button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR1 .containerForm1 .mover .formulario button span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR1 .containerForm1 .mover .formulario button span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR1 .containerForm1 .mover .formulario button:hover span {
  padding-right: 15px;
}
.containerIR1 .containerForm1 .mover .formulario button:hover span::after {
  opacity: 1;
  right: 0;
}
.containerIR1 .containerForm1 .mover .formulario .boton {
  display: inline-block;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR1 .containerForm1 .mover .formulario .boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR1 .containerForm1 .mover .formulario .boton span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR1 .containerForm1 .mover .formulario .boton span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR1 .containerForm1 .mover .formulario .boton:hover span {
  padding-right: 15px;
}
.containerIR1 .containerForm1 .mover .formulario .boton:hover span::after {
  opacity: 1;
  right: 0;
}

.containerIR2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.containerIR2 .containerForm2 {
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 25rem;
  border-radius: 20px;
  height: 570px;
  color: white;
  box-shadow: 4px 12px 20px 5px rgba(0, 0, 0, 0.5);
}
.containerIR2 .containerForm2 .mover .containerLetras {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.containerIR2 .containerForm2 .mover .containerLetras h2 {
  font-weight: bolder;
  color: black;
}
.containerIR2 .containerForm2 .mover .containerLetras .imagenUsuario {
  position: absolute;
  bottom: 3rem;
  height: 13vh;
}
.containerIR2 .containerForm2 .mover .formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 16px;
}
.containerIR2 .containerForm2 .mover .formulario input {
  border: none;
  width: 230px;
  border-bottom: 1px solid black;
}
.containerIR2 .containerForm2 .mover .formulario input:focus {
  outline: none;
}
.containerIR2 .containerForm2 .mover .formulario .textoRegister {
  color: black;
}
.containerIR2 .containerForm2 .mover .formulario .textoRegister a {
  text-decoration: none;
  transition: all 0.2s;
  font-weight: bolder;
}
.containerIR2 .containerForm2 .mover .formulario .textoRegister a:hover {
  color: orange;
}
.containerIR2 .containerForm2 .mover .formulario button {
  display: inline-block;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR2 .containerForm2 .mover .formulario button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR2 .containerForm2 .mover .formulario button span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR2 .containerForm2 .mover .formulario button span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR2 .containerForm2 .mover .formulario button:hover span {
  padding-right: 15px;
}
.containerIR2 .containerForm2 .mover .formulario button:hover span::after {
  opacity: 1;
  right: 0;
}
.containerIR2 .containerForm2 .mover .formulario .boton {
  display: inline-block;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR2 .containerForm2 .mover .formulario .boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR2 .containerForm2 .mover .formulario .boton span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR2 .containerForm2 .mover .formulario .boton span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR2 .containerForm2 .mover .formulario .boton:hover span {
  padding-right: 15px;
}
.containerIR2 .containerForm2 .mover .formulario .boton:hover span::after {
  opacity: 1;
  right: 0;
}

.containerIR3 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 2%;
  margin-bottom: 2%;
}
.containerIR3 .containerForm3 {
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 30rem;
  border-radius: 20px;
  height: 990px;
  color: white;
  box-shadow: 4px 12px 20px 5px rgba(0, 0, 0, 0.5);
}
.containerIR3 .containerForm3 .mover .containerLetras {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.containerIR3 .containerForm3 .mover .containerLetras h2 {
  font-weight: bolder;
  color: black;
}
.containerIR3 .containerForm3 .mover .containerLetras .imagenUsuario {
  position: absolute;
  bottom: 3rem;
  height: 13vh;
}
.containerIR3 .containerForm3 .mover .formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 16px;
}
.containerIR3 .containerForm3 .mover .formulario .genero {
  width: 310px;
}
.containerIR3 .containerForm3 .mover .formulario input {
  border: none;
  width: 350px;
  border-bottom: 1px solid black;
}
.containerIR3 .containerForm3 .mover .formulario input:focus {
  outline: none;
}
.containerIR3 .containerForm3 .mover .formulario .textoRegister {
  color: black;
}
.containerIR3 .containerForm3 .mover .formulario .textoRegister a {
  text-decoration: none;
  transition: all 0.2s;
  font-weight: bolder;
}
.containerIR3 .containerForm3 .mover .formulario .textoRegister a:hover {
  color: orange;
}
.containerIR3 .containerForm3 .mover .formulario button {
  display: inline-block;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR3 .containerForm3 .mover .formulario button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR3 .containerForm3 .mover .formulario button span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR3 .containerForm3 .mover .formulario button span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR3 .containerForm3 .mover .formulario button:hover span {
  padding-right: 15px;
}
.containerIR3 .containerForm3 .mover .formulario button:hover span::after {
  opacity: 1;
  right: 0;
}
.containerIR3 .containerForm3 .mover .formulario .boton {
  display: inline-block;
  background-color: black;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR3 .containerForm3 .mover .formulario .boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR3 .containerForm3 .mover .formulario .boton span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR3 .containerForm3 .mover .formulario .boton span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR3 .containerForm3 .mover .formulario .boton:hover span {
  padding-right: 15px;
}
.containerIR3 .containerForm3 .mover .formulario .boton:hover span::after {
  opacity: 1;
  right: 0;
}

/*# sourceMappingURL=estilos.css.map */
