@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #fb8819;
  overflow-x: hidden;
}

.logoCata {
  height: 30px;
  transition: all 0.2s;
}
.logoCata:hover {
  transform: scale(1.04);
}

.carritoCompras span {
  margin: 0 5px;
  font-size: 12px;
}

.boiler {
  display: block;
  position: relative;
}
.boiler .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1e21;
  color: white;
  z-index: 3;
  position: sticky;
}
.boiler .nav h1 {
  font-size: 1.1rem;
  margin: 0;
}
.boiler .nav .menu_toggle {
  cursor: pointer;
}
.boiler .nav nav {
  position: fixed;
  top: 3.9rem;
  left: 0;
  bottom: 0;
  background-color: #333;
  padding: 2rem;
  min-width: 300px;
  z-index: 2;
  transform: translate(-100%, 0);
}
.boiler .nav nav .contenedorIcono {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boiler .nav nav .contenedorIcono .cataIcono {
  height: 6rem;
  position: absolute;
  bottom: 0;
  bottom: 2rem;
  transition: all 0.5s;
  color: white;
}
.boiler .nav nav .contenedorIcono .cataIcono:hover {
  background-color: white;
  border-radius: 100%;
  transform: scale(0.9);
}
.boiler .nav nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.boiler .nav nav ul li {
  margin-bottom: 1rem;
  transform: translate(-100%, 0);
  opacity: 0;
}
.boiler .nav nav ul li .item_nav {
  color: inherit;
  background-color: #333;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.boiler .nav nav ul li .item_nav::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.boiler .nav nav ul li .item_nav:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.boiler .nav nav ul li .item_nav:hover {
  color: inherit;
}

.titulo__Cata {
  text-align: center;
  margin-top: 50px;
  font-weight: bolder;
}

.mejoresTexto {
  text-align: center;
  margin-top: 50px;
}

.containerTop {
  margin-bottom: 60px;
}
.containerTop .mejoresTexto h1 {
  font-weight: bolder;
}
.containerTop .container__cardsTop {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contenedorCards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.contenedorCards .card {
  width: 190px;
  height: 150px;
  transition: all 0.5s;
  box-shadow: 0px 7px 15px 1px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 50px;
}
.contenedorCards .card:hover {
  height: 254px;
  background: linear-gradient(360deg, rgba(237, 237, 237, 0.7725490196) 60%, hsl(0deg, 0%, 13%) 70%);
}
.contenedorCards .card .header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #212121;
  margin-bottom: 16px;
}
.contenedorCards .card .header .title {
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
  color: rgba(237, 237, 237, 0.7725490196);
  font-weight: bolder;
}
.contenedorCards .card .header .img-box {
  display: flex;
  justify-content: center;
}
.contenedorCards .card .header .img-box .imgBurger {
  height: 100px;
}
.contenedorCards .card .header .img-box .imgPizza {
  height: 100px;
}
.contenedorCards .card .header .img-box .imgPapas {
  height: 100px;
}
.contenedorCards .card .content {
  display: block;
  text-align: justify;
  color: #212121;
  margin: 0 22px;
}
.contenedorCards .card .content p {
  transition: all 0.5s;
  font-size: 1em;
  margin-bottom: 8px;
  font-weight: bolder;
  text-align: center;
}

p {
  text-align: center;
}

.contenedorBuscador {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.contenedorBuscador .buscador {
  width: 600px;
}
.contenedorBuscador .botonBusc {
  background-color: #1a1e21;
}
.contenedorBuscador .botonBuschover {
  background-color: black;
}

.contenedorBuscadorRes {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}
.contenedorBuscadorRes .containerMedias {
  width: 80%;
}
.contenedorBuscadorRes .containerMedias .buscador {
  width: 90%;
}
.contenedorBuscadorRes .containerMedias .botonBusc {
  background-color: #1a1e21;
}
.contenedorBuscadorRes .containerMedias .botonBuschover {
  background-color: black;
}

.card1--top {
  width: 190px;
  height: 254px;
  background: rgb(46, 44, 44);
  transition: all 300ms;
  border-radius: 10%;
}
.card1--top h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}
.card1--top .imgTop {
  height: 160px;
}
.card1--top .stars {
  display: flex;
  justify-content: center;
  color: yellow;
}
.card1--top:hover {
  transform: scale(1.1);
}

.card2--top {
  width: 190px;
  height: 254px;
  background: rgb(46, 44, 44);
  transition: all 300ms;
  border-radius: 10%;
}
.card2--top h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}
.card2--top .imgTop {
  height: 160px;
}
.card2--top .stars {
  display: flex;
  justify-content: center;
  color: yellow;
}
.card2--top:hover {
  transform: scale(1.1);
}

.card3--top {
  width: 190px;
  height: 254px;
  background: rgb(46, 44, 44);
  transition: all 300ms;
  border-radius: 10%;
}
.card3--top h1 {
  color: white;
  font-size: 20px;
  text-align: center;
}
.card3--top .imgTop {
  height: 160px;
}
.card3--top .stars {
  display: flex;
  justify-content: center;
  color: yellow;
}
.card3--top:hover {
  transform: scale(1.1);
}

.container__cardsN {
  margin-top: 170px;
  margin-bottom: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.container__cardsN .containerTP {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 10px;
}
.container__cardsN .containerTP .tituloNosotros {
  font-weight: bolder;
}
.container__cardsN .containerTP p {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.container__cardsN .cardNosotros {
  margin: 0 14.3px;
}
.container__cardsN .cardNosotros .profile, .container__cardsN .cardNosotros .profile2 {
  position: relative;
  width: 270px;
  height: 350px;
  background: url("../img/sobre-nosotros/Exequielfoto.jpeg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 12px;
  border-top-right-radius: 35px;
  border-radius: 7px;
}
.container__cardsN .cardNosotros .profile .overlay, .container__cardsN .cardNosotros .profile2 .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.9s;
  border-radius: 6px;
}
.container__cardsN .cardNosotros .profile .overlay .about, .container__cardsN .cardNosotros .profile2 .overlay .about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
}
.container__cardsN .cardNosotros .profile .overlay:hover, .container__cardsN .cardNosotros .profile2 .overlay:hover {
  opacity: 1;
}
.container__cardsN .cardNosotros .profile2 {
  background-image: url("../img/sobre-nosotros/silvioFoto.jpg");
  background-size: cover;
  background-position: center;
}
.container__cardsN .cardNosotros .containerSocial .social-icons {
  display: flex;
  list-style: none;
  bottom: 10px;
  position: absolute;
  text-align: center;
  justify-content: center;
  left: 11%;
}
.container__cardsN .cardNosotros .containerSocial .social-icons a {
  text-decoration: none;
}
.container__cardsN .cardNosotros .containerSocial .social-icons li {
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  padding: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  transition: all 1s;
}
.container__cardsN .cardNosotros .containerSocial .social-icons li:hover {
  background: #fff;
  color: #000;
}

.containerIR1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.containerIR1 .containerForm1 {
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 25rem;
  border-radius: 20px;
  height: 22.5rem;
  color: white;
  box-shadow: 4px 12px 20px 5px rgba(0, 0, 0, 0.5);
}
.containerIR1 .containerForm1 .mover .containerLetras {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.containerIR1 .containerForm1 .mover .containerLetras h2 {
  font-weight: bolder;
  color: black;
}
.containerIR1 .containerForm1 .mover .containerLetras .imagenUsuario {
  position: absolute;
  bottom: 3rem;
  height: 13vh;
}
.containerIR1 .containerForm1 .mover .formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 16px;
}
.containerIR1 .containerForm1 .mover .formulario input {
  border: none;
  width: 230px;
  border-bottom: 1px solid black;
}
.containerIR1 .containerForm1 .mover .formulario input:focus {
  outline: none;
}
.containerIR1 .containerForm1 .mover .formulario .textoRegister {
  color: black;
}
.containerIR1 .containerForm1 .mover .formulario .textoRegister a {
  text-decoration: none;
  transition: all 0.2s;
  font-weight: bolder;
}
.containerIR1 .containerForm1 .mover .formulario .textoRegister a:hover {
  color: orange;
}
.containerIR1 .containerForm1 .mover .formulario button {
  display: inline-block;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR1 .containerForm1 .mover .formulario button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR1 .containerForm1 .mover .formulario button span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR1 .containerForm1 .mover .formulario button span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR1 .containerForm1 .mover .formulario button:hover span {
  padding-right: 15px;
}
.containerIR1 .containerForm1 .mover .formulario button:hover span::after {
  opacity: 1;
  right: 0;
}
.containerIR1 .containerForm1 .mover .formulario .boton {
  display: inline-block;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR1 .containerForm1 .mover .formulario .boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR1 .containerForm1 .mover .formulario .boton span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR1 .containerForm1 .mover .formulario .boton span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR1 .containerForm1 .mover .formulario .boton:hover span {
  padding-right: 15px;
}
.containerIR1 .containerForm1 .mover .formulario .boton:hover span::after {
  opacity: 1;
  right: 0;
}

.containerIR3 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 2%;
  margin-bottom: 2%;
}
.containerIR3 .containerForm3 {
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 30rem;
  border-radius: 20px;
  height: 1070px;
  color: white;
  box-shadow: 4px 12px 20px 5px rgba(0, 0, 0, 0.5);
}
.containerIR3 .containerForm3 .mover .containerLetras {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.containerIR3 .containerForm3 .mover .containerLetras h2 {
  font-weight: bolder;
  color: black;
}
.containerIR3 .containerForm3 .mover .containerLetras .imagenUsuario {
  position: absolute;
  bottom: 3rem;
  height: 13vh;
}
.containerIR3 .containerForm3 .mover .formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 16px;
}
.containerIR3 .containerForm3 .mover .formulario .genero {
  width: 310px;
}
.containerIR3 .containerForm3 .mover .formulario input {
  border: none;
  width: 350px;
  border-bottom: 1px solid black;
}
.containerIR3 .containerForm3 .mover .formulario input:focus {
  outline: none;
}
.containerIR3 .containerForm3 .mover .formulario .textoRegister {
  color: black;
}
.containerIR3 .containerForm3 .mover .formulario .textoRegister a {
  text-decoration: none;
  transition: all 0.2s;
  font-weight: bolder;
}
.containerIR3 .containerForm3 .mover .formulario .textoRegister a:hover {
  color: orange;
}
.containerIR3 .containerForm3 .mover .formulario button {
  display: inline-block;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR3 .containerForm3 .mover .formulario button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR3 .containerForm3 .mover .formulario button span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR3 .containerForm3 .mover .formulario button span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR3 .containerForm3 .mover .formulario button:hover span {
  padding-right: 15px;
}
.containerIR3 .containerForm3 .mover .formulario button:hover span::after {
  opacity: 1;
  right: 0;
}
.containerIR3 .containerForm3 .mover .formulario .boton {
  display: inline-block;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR3 .containerForm3 .mover .formulario .boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR3 .containerForm3 .mover .formulario .boton span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR3 .containerForm3 .mover .formulario .boton span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR3 .containerForm3 .mover .formulario .boton:hover span {
  padding-right: 15px;
}
.containerIR3 .containerForm3 .mover .formulario .boton:hover span::after {
  opacity: 1;
  right: 0;
}

.containerIR2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.containerIR2 .containerForm2 {
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-position: center;
  width: 25rem;
  border-radius: 20px;
  height: 570px;
  color: white;
  box-shadow: 4px 12px 20px 5px rgba(0, 0, 0, 0.5);
}
.containerIR2 .containerForm2 .mover .containerLetras {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.containerIR2 .containerForm2 .mover .containerLetras h2 {
  font-weight: bolder;
  color: black;
}
.containerIR2 .containerForm2 .mover .containerLetras .imagenUsuario {
  position: absolute;
  bottom: 3rem;
  height: 13vh;
}
.containerIR2 .containerForm2 .mover .formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 16px;
}
.containerIR2 .containerForm2 .mover .formulario input {
  border: none;
  width: 230px;
  border-bottom: 1px solid black;
}
.containerIR2 .containerForm2 .mover .formulario input:focus {
  outline: none;
}
.containerIR2 .containerForm2 .mover .formulario .textoRegister {
  color: black;
}
.containerIR2 .containerForm2 .mover .formulario .textoRegister a {
  text-decoration: none;
  transition: all 0.2s;
  font-weight: bolder;
}
.containerIR2 .containerForm2 .mover .formulario .textoRegister a:hover {
  color: orange;
}
.containerIR2 .containerForm2 .mover .formulario button {
  display: inline-block;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR2 .containerForm2 .mover .formulario button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR2 .containerForm2 .mover .formulario button span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR2 .containerForm2 .mover .formulario button span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR2 .containerForm2 .mover .formulario button:hover span {
  padding-right: 15px;
}
.containerIR2 .containerForm2 .mover .formulario button:hover span::after {
  opacity: 1;
  right: 0;
}
.containerIR2 .containerForm2 .mover .formulario .boton {
  display: inline-block;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 12px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.containerIR2 .containerForm2 .mover .formulario .boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.containerIR2 .containerForm2 .mover .formulario .boton span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}
.containerIR2 .containerForm2 .mover .formulario .boton span a {
  color: #FFFFFF;
  text-decoration: none;
}
.containerIR2 .containerForm2 .mover .formulario .boton:hover span {
  padding-right: 15px;
}
.containerIR2 .containerForm2 .mover .formulario .boton:hover span::after {
  opacity: 1;
  right: 0;
}

.formulario input {
  font-weight: 500;
}

.conteiner_restaurantes {
  display: flex;
}
.conteiner_restaurantes .containerColum {
  margin-top: 55px;
}
.conteiner_restaurantes .containerColum .contenedorResTipo .tiposRes {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  flex: 1 1;
}
.conteiner_restaurantes .containerColum .contenedorResTipo .tiposRes .tipo {
  flex: 1 1;
  text-align: center;
  font-weight: bolder;
}
.conteiner_restaurantes .containerColum .contenedorResTipo .tiposRes .tipo .buttonTipo {
  border: none;
  background-color: #fb8819;
}
.conteiner_restaurantes .containerColum .contenedorResTipo .tiposRes .tipo .circulo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #1E1E24;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.5215686275);
}
.conteiner_restaurantes .containerColum .contenedorResTipo .tiposRes .tipo .circulo img {
  width: 55px;
}
.conteiner_restaurantes .containerColum .conteinerCardResta {
  width: 80%;
  height: 165px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #fff; */
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.5215686275);
  flex-wrap: nowrap;
  background-color: #1a1e21;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 20px;
  border: #fff solid 1px;
}
.conteiner_restaurantes .containerColum .conteinerCardResta .imagenRestaurante {
  height: 85%;
  width: 150px;
  object-fit: contain;
  border: 0.6px solid #1E1E24;
  margin: 0px 0px 0px 5px;
}
.conteiner_restaurantes .containerColum .conteinerCardResta .contenedorTexto {
  /* text-align: center; */
  padding: 12px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1;
  text-align: initial;
}
.conteiner_restaurantes .containerColum .conteinerCardResta .contenedorTexto .nombreRestaurante {
  font-size: 1.1rem;
  text-align: initial;
}
.conteiner_restaurantes .containerColum .conteinerCardResta .contenedorTexto .ubiRestaurante {
  font-size: 0.8rem;
  margin-top: 15px;
  padding-bottom: 5px;
  text-align: inherit;
}
.conteiner_restaurantes .containerColum .conteinerCardResta .contenedorTexto .puntuacionRestaurante {
  font-size: 0.99rem;
  text-align: justify;
}
.conteiner_restaurantes .containerColum .contenedorProductos {
  width: 85%;
  min-height: 220px;
  padding-bottom: 10px;
  margin: auto;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.5215686275);
  background-color: #1a1e21;
  color: whitesmoke;
  border-radius: 20px;
}
.conteiner_restaurantes .containerColum .contenedorProductos .titulo {
  height: auto;
  font-weight: bolder;
  font-size: 18px;
}
.conteiner_restaurantes .containerColum .contenedorProductos .titulo p {
  margin-bottom: 5px;
  text-align: center;
}
.conteiner_restaurantes .containerColum .contenedorProductos .containerCategorias .lista {
  margin: 0px;
  margin-top: 5px;
}
.conteiner_restaurantes .containerColum .contenedorProductos .containerCategorias .lista a {
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}
.conteiner_restaurantes .containerColum .contenedorProductos .containerCategorias .lista .imgProductos {
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.container__CardProd {
  width: 50%;
}

.conteiner_restaurantes .containerColum {
  margin-top: 5px;
}
.conteiner_restaurantes .containerColum .columnas .conteimerLocal {
  width: 100%;
  height: 265px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* background-color: #fff; */
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.5215686275);
  flex-wrap: nowrap;
  background-color: #1a1e21;
  color: whitesmoke;
  border-radius: 20px;
  border: #fff solid 1px;
}
.conteiner_restaurantes .containerColum .columnas .conteimerLocal .conteinerLocalImagen {
  height: 100%;
  width: 30%;
  display: flex;
}
.conteiner_restaurantes .containerColum .columnas .conteimerLocal .conteinerLocalImagen .imagenRestaurante {
  height: auto;
  width: 100%;
  object-fit: contain;
}
.conteiner_restaurantes .containerColum .columnas .conteimerLocal .continerTextoBusca {
  width: 70%;
  height: 100%;
}
.conteiner_restaurantes .containerColum .columnas .conteimerLocal .continerTextoBusca .contenedorTexto {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50%;
}
.conteiner_restaurantes .containerColum .columnas .conteimerLocal .continerTextoBusca .contenedorTexto div p {
  font-size: 20px;
}
.conteiner_restaurantes .containerColum .columnas .conteimerLocal .continerTextoBusca .contenedorBuscadorRes {
  align-items: center;
  margin-bottom: 0;
}
.conteiner_restaurantes .containerColum .columnas .conteimerLocal .continerTextoBusca .contenedorBuscadorRes .containerMedias {
  height: 45px;
}
.conteiner_restaurantes .containerColum .columnas .conteinerProductos {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
}
.conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto {
  width: 80%;
}
.conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto .contenedorTexto {
  text-align: start;
}
.conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto .contenedorTexto .ingredientes {
  padding-bottom: 0;
  text-align: initial;
}

.sectionCarrito {
  margin-bottom: 15rem;
}
.sectionCarrito .iconoMas {
  color: black;
}
.sectionCarrito .iconoMenos {
  color: black;
}
.sectionCarrito .icon {
  background-color: white;
  border: white;
}
.sectionCarrito .conta {
  display: flex;
}

.container-flex {
  background-color: white;
  border-radius: 10px;
  padding: 2.4em;
}
.container-flex .contenedorCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-flex .contenedorCarrito .botonCarrito1 {
  order: 3;
  font-weight: 600;
}
.container-flex .contenedorCarrito .botonCarrito2 {
  order: 3;
  font-weight: 600;
}
.container-flex .contenedorCarrito .botonCarrito3 {
  order: 2;
  font-weight: 600;
}

.padreTR .flexTR .tableTR {
  display: flex;
  justify-content: center;
  align-items: center;
}
.padreTR .flexTR .tableTR .containerTR {
  display: flex;
  flex-direction: column;
}
.padreTR .flexTR .tableTR .containerTR .contenedorImagen {
  display: flex;
  justify-content: center;
}
.padreTR .flexTR .tableTR .containerTR .contenedorImagen .imageProducto {
  width: 30%;
}
.padreTR .flexTR .tableTR .containerTR .descripcionProductos {
  margin-top: 1.5rem;
}

.modal-footer {
  display: flex;
  justify-content: center;
}
.modal-footer .flexBotones {
  display: flex;
  gap: 10rem;
}
.modal-footer .flexBotones #conta {
  width: 8rem;
  border-radius: 6px;
}

.backgroundProfile {
  background-color: #fb8819;
}
.backgroundProfile .profilePicture {
  border-radius: 100%;
  height: 150px;
  object-fit: cover;
}
.backgroundProfile .datos {
  margin-top: 5%;
}
.backgroundProfile .contanedorImagen {
  position: relative;
}
.backgroundProfile .contanedorImagen .imagen-editar {
  height: 25px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.chat-bar-collapsible {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.collapsible {
  background-color: #212121;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 300px;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  border-bottom: 40px;
  border: 1px solid white;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.full-chat-block {
  width: 300px;
  background: white;
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  height: 400px;
  transition: max-height 0.2s ease-out;
}

.outer-container {
  min-height: 500px;
  bottom: 0%;
  position: relative;
}

.chat-container {
  max-height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  scroll-behavior: smooth;
  hyphens: auto;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-bar-input-block {
  display: flex;
  float: left;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 25%;
  float: right;
  font-size: 20px;
}

#chat-icon:hover {
  opacity: 0.7;
}

/* Chat bubbles */
#userInput {
  width: 75%;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #000;
  background-color: white;
  outline: none;
}

.userText {
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  clear: both;
}

.userText span {
  line-height: 1.5em;
  display: inline-block;
  background: #5ca6fa;
  padding: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  max-width: 80%;
  margin-right: 10px;
  animation: floatup 0.5s forwards;
}

.botText {
  color: #000;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

.botText span {
  line-height: 1.5em;
  display: flex;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  max-width: 70%;
  margin-left: 10px;
  animation: floatup 0.5s forwards;
  flex-direction: column;
}

@keyframes floatup {
  from {
    transform: translateY(14px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  .full-chat-block {
    width: 100%;
    border-radius: 0px;
  }
  .chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .collapsible {
    width: 100%;
    border: 0px;
    border-top: 3px solid white;
    border-radius: 0px;
  }
}
#map {
  height: 200px;
  width: 350px;
}

@media (max-width: 753px) {
  .containerMedias {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerMedias .buscador {
    width: 390px;
    margin-bottom: 20px;
  }
}
@media (max-width: 429px) {
  .containerMedias .buscador {
    width: 80%;
    margin-bottom: 20px;
  }
}
@media (max-width: 669px) {
  .contenedorCards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 669px) {
  .container__cardsTop {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1220px) {
  .container__cardsN {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 280px) and (max-width: 508px) {
  .containerTP .tituloNosotros {
    text-align: center;
  }
  .containerTP p {
    width: 20rem;
  }
  .cardNosotros .profile,
.cardNosotros .profile2 {
    max-width: 220px;
  }
  .cardNosotros .containerSocial .social-icons {
    right: 20%;
  }
}
@media (min-width: 508px) and (max-width: 750px) {
  .containerTP p {
    width: 28rem;
  }
}
@media (min-width: 704px) and (max-width: 1000px) {
  .containerTP p {
    width: 42rem;
  }
}
@media (max-width: 526px) {
  .containerIR1 .containerForm1 {
    width: 80%;
  }
  .containerIR2 .containerForm2 {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .containerIR3 .containerForm3 {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .containerIR3 .containerForm3 .mover .formulario input {
    width: 90%;
  }
  .containerIR3 .containerForm3 .mover .formulario span {
    font-size: 15px;
  }
  .containerIR3 .containerForm3 .mover .formulario div {
    width: 90%;
  }
  .containerIR3 .containerForm3 .mover .formulario div .genero {
    width: 100%;
  }
  .containerIR3 .containerForm3 .mover .formulario iframe {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .containerIR1 .containerForm1 {
    width: 90%;
  }
  .containerIR1 .containerForm1 .mover .containerLetras h2 {
    font-size: 20px;
  }
  .containerIR1 .containerForm1 .mover .formulario input {
    width: 90%;
  }
  .containerIR1 .containerForm1 .mover .formulario span {
    font-size: 15px;
  }
  .containerIR1 .containerForm1 .mover .formulario div button {
    width: 100px;
  }
  .containerIR1 .containerForm1 .mover .formulario div .boton {
    width: 100px;
  }
  .containerIR2 .containerForm2 {
    width: 90%;
  }
  .containerIR2 .containerForm2 .mover .containerLetras h2 {
    font-size: 20px;
  }
  .containerIR2 .containerForm2 .mover .formulario input {
    width: 90%;
  }
  .containerIR2 .containerForm2 .mover .formulario span {
    font-size: 15px;
  }
  .containerIR2 .containerForm2 .mover .formulario div button {
    width: 100px;
  }
  .containerIR2 .containerForm2 .mover .formulario div .boton {
    width: 100px;
  }
  .containerIR3 .containerForm3 {
    width: 90%;
  }
  .containerIR3 .containerForm3 .mover .containerLetras h2 {
    font-size: 20px;
  }
  .containerIR3 .containerForm3 .mover .formulario input {
    width: 90%;
  }
  .containerIR3 .containerForm3 .mover .formulario span {
    font-size: 15px;
  }
  .containerIR3 .containerForm3 .mover .formulario div {
    width: 90%;
  }
  .containerIR3 .containerForm3 .mover .formulario div .genero {
    width: 100%;
  }
  .containerIR3 .containerForm3 .mover .formulario div button {
    width: 100px;
  }
  .containerIR3 .containerForm3 .mover .formulario div .boton {
    width: 100px;
  }
}
@media (min-width: 280px) and (max-width: 392px) {
  .conteiner_restaurantes .contenedorBuscadorRes {
    margin-top: 30px;
  }
  .conteiner_restaurantes .containerColum .container__CardRest .conteinerCardResta {
    height: 290px;
    width: 245px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .conteiner_restaurantes .containerColum .container__CardRest .conteinerCardResta .imagenRestaurante {
    height: 110px;
  }
  .conteiner_restaurantes .containerColum .container__CardRest .conteinerCardResta .contenedorTexto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .conteiner_restaurantes .containerColum .container__CardRest .conteinerCardResta .contenedorTexto i {
    font-size: 11px;
  }
  .columnas .flexCategorias .contenedorProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .columnas .flexCategorias .contenedorProductos .titulo {
    margin-top: 14px;
  }
  .columnas .flexCategorias .contenedorProductos .containerCategorias {
    width: 50px;
  }
}
@media (max-width: 970px) {
  .containerColum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerColum .columnas {
    width: 100%;
  }
  .containerColum .contenedorProductos .containerCategorias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    flex: 1 1 1;
  }
  .tipo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media (max-width: 754px) {
  .containerMedias {
    flex-direction: row;
  }
  .containerMedias .buscador {
    margin-bottom: 0;
  }
}
@media (max-width: 540px) {
  .conteiner_restaurantes .containerColum .conteinerCardResta {
    height: 145px;
  }
  .conteiner_restaurantes .containerColum .conteinerCardResta .contenedorTexto .nombreRestaurante {
    font-size: 1rem;
  }
  .conteiner_restaurantes .containerColum .conteinerCardResta .contenedorTexto .ubiRestaurante {
    font-size: 0.8rem;
    padding-bottom: 16px;
  }
  .conteiner_restaurantes .containerColum .conteinerCardResta .contenedorTexto h6 {
    font-size: 0.9rem;
  }
  .conteiner_restaurantes .containerColum .contenedorProductos {
    width: 80%;
  }
  .conteiner_restaurantes .containerColum .contenedorProductos .titulo {
    margin-bottom: 20px;
  }
  .conteiner_restaurantes .containerColum .contenedorProductos .containerCategorias {
    display: flex;
  }
  .conteiner_restaurantes .containerColum .contenedorProductos .containerCategorias .lista {
    text-align: center;
  }
}
@media (max-width: 1135px) {
  .containerColum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerColum .columnas {
    width: 100%;
  }
}
/* Restaurante Vista */
@media (max-width: 830px) {
  .conteiner_restaurantes .containerColum .producto {
    height: 145px;
    /* .imagenRestaurante{
        height: 55%;
    } */
  }
  .conteiner_restaurantes .containerColum .producto .contenedorTexto .nombreProducto {
    font-size: 1rem;
  }
  .conteiner_restaurantes .containerColum .producto .contenedorTexto .ingredientes {
    font-size: 0.8rem;
  }
  .conteiner_restaurantes .containerColum .producto .contenedorTexto h6 {
    font-size: 0.9rem;
  }
}
@media (max-width: 740px) {
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto img {
    height: 100px;
    object-fit: contain;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto .contenedorTexto .nombreProducto {
    font-size: 0.9rem;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto .contenedorTexto .ingredientes {
    font-size: 0.7rem;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto .contenedorTexto h6 {
    font-size: 0.8rem;
  }
}
@media (max-width: 620px) {
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .container__CardProd {
    width: 100%;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .container__CardProd .producto {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .container__CardProd .producto img {
    height: 90%;
    object-fit: cover;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .container__CardProd .producto .contenedorTexto .nombreProducto {
    font-size: 1rem;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .container__CardProd .producto .contenedorTexto .ingredientes {
    font-size: 0.8rem;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .container__CardProd .producto .contenedorTexto h6 {
    font-size: 0.9rem;
  }
}
@media (min-width: 376px) and (max-width: 470px) {
  .conteiner_restaurantes .containerColum .columnas .conteimerLocal {
    flex-direction: column;
  }
  .conteiner_restaurantes .containerColum .columnas .conteimerLocal .continerTextoBusca {
    width: 100%;
  }
  .conteiner_restaurantes .containerColum .columnas .conteimerLocal .continerTextoBusca .contenedorBuscadorRes {
    margin-top: 15px;
  }
  .conteiner_restaurantes .containerColum .columnas .conteimerLocal .conteinerLocalImagen {
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 376px) {
  .conteiner_restaurantes .containerColum .columnas .conteimerLocal {
    flex-direction: column;
  }
  .conteiner_restaurantes .containerColum .columnas .conteimerLocal .continerTextoBusca {
    width: 100%;
  }
  .conteiner_restaurantes .containerColum .columnas .conteimerLocal .continerTextoBusca .contenedorBuscadorRes {
    margin-top: 15px;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto img {
    width: 35%;
    object-fit: contain;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto .contenedorTexto .nombreRestaurante {
    font-size: 12px;
  }
  .conteiner_restaurantes .containerColum .columnas .conteinerProductos .producto .contenedorTexto .ubiRestaurante {
    font-size: 10px;
  }
}
@media (min-width: 280px) and (max-width: 528px) {
  .mediaBotones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
}

@media (min-width: 280px) and (max-width: 420px) {
  #map {
    width: 220px;
  }
}
@media (min-width: 420px) and (max-width: 480px) {
  #map {
    width: 300px;
  }
}

/*# sourceMappingURL=estilos.css.map */
