//variable colorEstrellas para la estrellas 

$colorEstrellas: yellow;

//variable para las letras de los botones del inicio de sesion

$colorL_Botones: white;

//variable background color cata food

$background_cata: #fb8819;

//breakpoint para el mapa medida 420px

$breakpoint: 420px;