//Animación para el chatbot

.animate__animated.animate__backInRight{

    animation-delay: 2s;

}

//Animación index para el texto "Bienvenidos a Cata Food"

.animate__animated.animate__fadeInDown{

    animation-delay: 2s;

}

//Animaciones "Sobre Nosotros"

.animate__animated.animate__bounceIn{

    animation-delay: 2s;

}