.fondoCards{

  .contenedorCards {

    display: flex;
    justify-content: center;
    gap: 30px;
    
  
    .card {
      width: 190px;
      height: 150px;
      transition: all .5s;
      box-shadow: 0px 7px 15px 1px;
      text-align: center;
      overflow: hidden;
      margin-bottom: 50px;
  
  
      &:hover {
        height: 254px;
        background: linear-gradient(360deg, #edededc5 60%, hsla(0, 0%, 13%, 1) 70%);
      }
  
      .header {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #212121;
        margin-bottom: 16px;
  
        .title {
          font-size: 1.1em;
          text-align: center;
          text-transform: uppercase;
          transition: all .5s;
          color: #edededc5;
          font-weight: bolder;
        }
  
  
        .img-box {
          display: flex;
          justify-content: center;
  
          .imgBurger{
  
            height: 100px;
  
          }
          .imgPizza{
  
            height: 100px;
  
          }
          .imgPapas{
  
            height: 100px;
  
          }
  
        }
  
      }
  
      .content {
        display: block;
        text-align: justify;
        color: #212121;
        margin: 0 22px;
  
  
        p {
          transition: all .5s;
          font-size: 1em;
          margin-bottom: 8px;
          font-weight: bolder;
          text-align: center;
        }
  
      }
  
    }
  
  }
  p{
    text-align: center;
  }
  
}