//Medias queries para el input de buscar y el boton de buscar
@media(max-width:753px) {

    .containerMedias {

        flex-direction: column;
        justify-content: center;
        align-items: center;

        .buscador {

            width: 390px;
            margin-bottom: 20px;

        }

    }

}


@media(max-width:429px) {

    .containerMedias {

        .buscador {

            width: 80%;
            margin-bottom: 20px;

        }

    }

}


//Medias queries para las cards  "burger,papas y pizzas"

@media(max-width:669px) {

    .contenedorCards {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

//Medias queries cards "top de los mejores restaurantes

@media (max-width: 669px) {

    .container__cardsTop {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

@media(max-width:1220px) {

    .container__cardsN {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}


//Medias queries sección "sobre nosotros"
@media(min-width:280px) and (max-width:508px) {

    .containerTP {



        .tituloNosotros {

            text-align: center;

        }

        p {

            width: 20rem;

        }



    }

    .cardNosotros {


        .profile,
        .profile2 {

            max-width: 220px;


        }

        .containerSocial {

            .social-icons {

                right: 20%;

            }

        }
    }


}

@media(min-width:508px) and (max-width:750px) {

    .containerTP {


        p {

            width: 28rem;

        }



    }

}

@media(min-width:704px) and (max-width:1000px) {

    .containerTP {


        p {

            width: 42rem;

        }



    }

}

//medias login

@media(max-width:526px) {

    .containerIR1 {

        .containerForm1 {
            width: 80%;
        }

    }

    .containerIR2 {

        .containerForm2 {
            width: 80%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }


    .containerIR3 {

        .containerForm3 {
            width: 80%;
            margin-top: 20px;
            margin-bottom: 20px;

            .mover {

                .formulario {
                    input {
                        width: 90%;
                    }

                    span {

                        font-size: 15px;
                    }

                    div {
                        width: 90%;

                        .genero {
                            width: 100%;
                        }
                    }

                    iframe {
                        width: 90%;
                    }


                }
            }
        }

    }

}

@media(max-width:400px) {

    .containerIR1 {

        .containerForm1 {
            width: 90%;

            .mover {

                .containerLetras {

                    h2 {
                        font-size: 20px;
                    }
                }

                .formulario {
                    input {
                        width: 90%;
                    }

                    span {

                        font-size: 15px;
                    }

                    div {

                        button {
                            width: 100px;
                        }

                        .boton {
                            width: 100px;
                        }
                    }
                }
            }
        }

    }

    .containerIR2 {

        .containerForm2 {
            width: 90%;

            .mover {

                .containerLetras {

                    h2 {
                        font-size: 20px;
                    }
                }

                .formulario {
                    input {
                        width: 90%;
                    }

                    span {

                        font-size: 15px;
                    }

                    div {

                        button {
                            width: 100px;
                        }

                        .boton {
                            width: 100px;
                        }
                    }
                }
            }
        }

    }

    .containerIR3 {

        .containerForm3 {
            width: 90%;

            .mover {

                .containerLetras {

                    h2 {
                        font-size: 20px;
                    }
                }

                .formulario {
                    input {
                        width: 90%;
                    }

                    span {

                        font-size: 15px;
                    }

                    div {
                        width: 90%;

                        .genero {
                            width: 100%;
                        }
                    }

                    div {

                        button {
                            width: 100px;
                        }

                        .boton {
                            width: 100px;
                        }
                    }


                }
            }
        }

    }


}

//Medias seccion restaurantes

@media(min-width:280px) and (max-width:392px) {

    .conteiner_restaurantes {

        .contenedorBuscadorRes {

            margin-top: 30px;

        }

        .containerColum {


            .container__CardRest {

                .conteinerCardResta {

                    height: 290px;
                    width: 245px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    .imagenRestaurante {

                        height: 110px;

                    }


                    .contenedorTexto {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;


                        i {

                            font-size: 11px;

                        }

                    }


                }

            }

        }



    }

    .columnas {

        .flexCategorias{

            .contenedorProductos {

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                .titulo {
                    margin-top: 14px;
                }
    
    
                .containerCategorias {
    
                    width: 50px;
    
                }
    
    
    
    
            }

        }

    }
}

@media(max-width:970px) {

    .containerColum {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .columnas {
            width: 100%;
        }

        .contenedorProductos {

            .containerCategorias {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 4px;
                flex: 1 1 1;

            }
        }

    }

    .tipo {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

}

@media(max-width:754px) {
    .containerMedias {
        flex-direction: row;

        .buscador {
            margin-bottom: 0;
        }
    }
}

@media(max-width:540px) {
    .conteiner_restaurantes {

        .containerColum {

            .conteinerCardResta {
                height: 145px;

                .contenedorTexto {

                    .nombreRestaurante {
                        font-size: 1rem;
                    }

                    .ubiRestaurante {
                        font-size: 0.8rem;
                        padding-bottom: 16px;
                    }

                    h6 {
                        font-size: 0.9rem;
                    }
                }
            }

            .contenedorProductos {
                width: 80%;

                .titulo {
                    margin-bottom: 20px;
                }

                .containerCategorias {
                    display: flex;

                    .lista {
                        text-align: center;

                    }
                }
            }
        }

    }
}


@media(max-width: 1135px) {
    .containerColum {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .columnas {
            width: 100%;

        }

    }
}

/* Restaurante Vista */

@media(max-width: 830px){

    .conteiner_restaurantes{
        
        .containerColum{
    
            .producto{
                height: 145px;
                /* .imagenRestaurante{
                    height: 55%;
                } */
                .contenedorTexto{
                    .nombreProducto {
                        font-size: 1rem;
                    }
                    .ingredientes {
                        font-size: 0.8rem;
                    }
                    h6{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    } 
}

@media(max-width:740px){

    .conteiner_restaurantes{

        .containerColum{
    
            .columnas{
    
                .conteinerProductos{
    
                    .producto{
    
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
    
                        img{
    
                            height: 100px;
                            object-fit: contain;
    
    
                        }
    
                        .contenedorTexto{
    
                            .nombreProducto{
    
                            font-size: 0.9rem;
    
                            }
    
                            .ingredientes{
    
                            font-size: 0.7rem;
    
                            }
                            h6{
                                font-size: 0.8rem;
                            }
                        }

                    }
    
                }
    
            }
    
        }
    }

}

@media(max-width:620px){

    .conteiner_restaurantes{

        .containerColum{
    
            .columnas{
    
                .conteinerProductos{

                    .container__CardProd{
                        width: 100%;
                        .producto{
        
                            flex-direction: row;
                            justify-content: start;
                            align-items: center;
        
                            img{
        
                                height: 90%;
                                object-fit: cover;
        
        
                            }
        
                            .contenedorTexto{
        
                                .nombreProducto{
        
                                font-size: 1rem;
        
                                }
        
                                .ingredientes{
        
                                font-size: 0.8rem;
        
                                }
                                
                                h6{
                                    font-size: 0.9rem;
                                }
                            }
        
                        }
                    }
    
    
                }
    
            }
    
        }
    }

}

@media (min-width:376px) and (max-width:470px){
    .conteiner_restaurantes{

        .containerColum{
            
            .columnas{
                .conteimerLocal{
                    flex-direction: column;
                    
                    .continerTextoBusca{
                        width: 100%;
                        
                        .contenedorBuscadorRes{
                            margin-top: 15px;
                        }
    
                    }

                    .conteinerLocalImagen{
                        width: 40%;
                        height: 40%;
                    }

                }
            }
        }
    }
}

@media(max-width:376px){

    .conteiner_restaurantes{

        .containerColum{
    
            .columnas{
                .conteimerLocal{
                    flex-direction: column;
                    
                    .continerTextoBusca{
                        width: 100%;
                        
                        .contenedorBuscadorRes{
                            margin-top: 15px;
                        }
    
                    }

                }
            
                .conteinerProductos{
            
                    .producto{
            
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 125px;
            
                        img{
            
                            width: 35%;
                            object-fit: contain;
            
            
                        }
            
                        .contenedorTexto{
            
                            .nombreRestaurante{
            
                            font-size: 12px;
            
                            }
            
                            .ubiRestaurante{
            
                            font-size: 10px;
            
                            }
                        }
            
                    }
            
                }
            
            }
        }
    }

}

    
