//Medias queries para el input de buscar y el boton de buscar
@media(max-width:753px){

    .containerMedias{

        flex-direction: column;
        justify-content: center;
        align-items: center;

        .buscador{

            width: 390px;
            margin-bottom: 20px;

        }

    }

}


@media(max-width:429px){

    .containerMedias{

        .buscador{

            width: 250px;
            margin-bottom: 20px;

        }

    }

}


//Medias queries para las cards  "burger,papas y pizzas"

@media(max-width:669px){

    .contenedorCards{

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

//Medias queries cards "top de los mejores restaurantes

@media (max-width: 669px){

    .container__cardsTop{

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}