//Medias queries para el input de buscar y el boton de buscar
@media(max-width:753px) {

    .containerMedias {

        flex-direction: column;
        justify-content: center;
        align-items: center;

        .buscador {

            width: 390px;
            margin-bottom: 20px;

        }

    }

}


@media(max-width:429px) {

    .containerMedias {

        .buscador {

            width: 250px;
            margin-bottom: 20px;

        }

    }

}


//Medias queries para las cards  "burger,papas y pizzas"

@media(max-width:669px) {

    .contenedorCards {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

//Medias queries cards "top de los mejores restaurantes

@media (max-width: 669px) {

    .container__cardsTop {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

@media(max-width:1220px) {

    .container__cardsN {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}


//Medias queries sección "sobre nosotros"
@media(min-width:280px) and (max-width:508px) {

    .containerTP {



        .tituloNosotros {

            text-align: center;

        }

        p {

            width: 20rem;

        }



    }

    .cardNosotros {


        .profile,
        .profile2 {

            max-width: 220px;


        }

        .containerSocial {

            .social-icons {

                right: 20%;

            }

        }
    }


}

@media(min-width:508px) and (max-width:750px) {

    .containerTP {


        p {

            width: 28rem;

        }



    }

}

@media(min-width:704px) and (max-width:1000px) {

    .containerTP {


        p {

            width: 42rem;

        }



    }

}

//medias login

@media(max-width:526px) {

    .containerIR1 {

        .containerForm1 {
            width: 80%;
        }

    }

    .containerIR2 {

        .containerForm2 {
            width: 80%;
            margin-top: 20px;
            margin-bottom: 20px;
        }

    }


    .containerIR3 {

        .containerForm3 {
            width: 80%;
            margin-top: 20px;
            margin-bottom: 20px;

            .mover {

                .formulario {
                    input {
                        width: 90%;
                    }

                    span {

                        font-size: 15px;
                    }

                    div {
                        width: 90%;

                        .genero {
                            width: 100%;
                        }
                    }

                    iframe {
                        width: 90%;
                    }


                }
            }
        }

    }

}

@media(max-width:400px) {

    .containerIR1 {

        .containerForm1 {
            width: 90%;

            .mover {

                .containerLetras {

                    h2 {
                        font-size: 20px;
                    }
                }

                .formulario {
                    input {
                        width: 90%;
                    }

                    span {

                        font-size: 15px;
                    }

                    div {

                        button {
                            width: 100px;
                        }

                        .boton {
                            width: 100px;
                        }
                    }
                }
            }
        }

    }

    .containerIR2 {

        .containerForm2 {
            width: 90%;

            .mover {

                .containerLetras {

                    h2 {
                        font-size: 20px;
                    }
                }

                .formulario {
                    input {
                        width: 90%;
                    }

                    span {

                        font-size: 15px;
                    }

                    div {

                        button {
                            width: 100px;
                        }

                        .boton {
                            width: 100px;
                        }
                    }
                }
            }
        }

    }

    .containerIR3 {

        .containerForm3 {
            width: 90%;

            .mover {

                .containerLetras {

                    h2 {
                        font-size: 20px;
                    }
                }

                .formulario {
                    input {
                        width: 90%;
                    }

                    span {

                        font-size: 15px;
                    }

                    div {
                        width: 90%;

                        .genero {
                            width: 100%;
                        }
                    }

                    div {

                        button {
                            width: 100px;
                        }

                        .boton {
                            width: 100px;
                        }
                    }


                }
            }
        }

    }


}

//Medias seccion restaurantes

@media(max-width:856px) {

    .containerColum {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .containerColum{
        
        .columnas{
            width: 100%;
        }
    }

    .tipo {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

}

@media(max-width:754px) {
    .containerMedias{
        flex-direction: row;

        .buscador{
            margin-bottom: 0;
        }
    }
}

@media(max-width:540px) {
    .conteiner_restaurantes{
    
        .containerColum{

            .conteinerCardResta{
                height: 145px;

                .contenedorTexto{

                    .nombreRestaurante{
                        font-size: 1rem;
                    }

                    .ubiRestaurante{
                        font-size: 0.8rem;
                        padding-bottom: 16px;
                    }
                    
                    h6{
                        font-size: 0.9rem;
                    }
                }
            }

            .contenedorProductos{
                width: 80%;

                .titulo{
                    margin-bottom: 20px;
                }
                .containerCategorias{
                    display: flex;
                    .lista{
                        text-align: center;
                        h6{
                            
                        }
                    }
                }
            }
        }

    }
}
/* @media(max-width:814px) {

    .conteiner_restaurantes {

        .containerColum {

            .conteinerCardResta {

                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 450px;

                .contenedorTexto {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                }
            }

            .tipo {

                flex-direction: column;

            }



        }




    }




}

@media(max-width:766px) {

    .contenedorMediaCat {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;


        .containerCat_Flex {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;


        }

    }

}

@media(min-width:280px) and (max-width:416px) {


    .contenedorBuscadorRes{

       .containerMedias{
        .buscador{

            width: 180px;

        }
       }

    }

    
    .conteiner_restaurantes {

        .containerColum {

            .flexCard1{

                display: flex;
                justify-content: center;
                align-items: center;

                .flexCard2{

                    .conteinerCardResta {
    
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 250px;
        
                        .contenedorTexto {
        
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
        
                        }
                    }
    
                }

            }




        }




    }




}
 */
