.padreTR{
    
    .flexTR{
        

        .tableTR{

            display: flex;
            justify-content: center;
            align-items: center;

            .containerTR{
    
                display: flex;
                flex-direction: row;
        
                .contenedorImagen{

                    display: flex;
                    justify-content: center;

                    .imageProducto{
        
                        width: 80%;
                        object-fit: scale-down;
            
                    }

                }
        
                .descripcionProductos{
        
                    margin-top: 1.5rem;
        
                }
            
            }
    
        }
    
       

    }

    

}

.modal-footer{

    display: flex;
    justify-content: center;
    
    .flexBotones{

        display: flex;
        gap: 10rem;
        

        #conta{

            width: 8rem;
            border-radius: 6px;

        }

    }

}