*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Nunito', sans-serif;
    background-color: #F49E4C;
}

.containerBurger{

    display: flex;
    justify-content: center;

    .burgerLoader{

        height: 35rem;
    
    }

}