* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #fb8819;
    overflow-x: hidden;
    transition: background-color .3s, color .2s;
}

.logoCata {

    height: 30px;
    transition: all .2s;

    &:hover{

        transform: scale(1.04);

    }

}

.divFooter{

    display: flex;
    justify-content: center;
    gap: 1rem;

    .logoFooter{

        width: 10rem;
    
    }

}

.politicasSitio{

    color: white;

    &:hover{
        color: white;
    }

}

.defensaConsumidor{

    color: white;

    &:hover{
        color: red;
        padding: 1rem;
    }
}

.carritoCompras {

    span {
        margin: 0 5px;
        font-size: 12px;
    }

}

//Scroll personalizado

body::-webkit-scrollbar{

    width: 8px;
    background-color: white;

}

body::-webkit-scrollbar-thumb{

    background-color: #1a1e21;
    border-radius: 5px;

}

body::-webkit-scrollbar-track-piece{


    background-color: white;


}


