.flexGracias{

  display: flex;
  justify-content: center;
  padding-top: 2.5rem;

  .backgroundGracias {

    background-color: #fff;
    height: 35rem;
    padding: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  
    .containerGracias {
  
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;

      .imgCaptura{
        width: 65%;
      }
  
      .botonInicio {
  
        border: none;
        outline: none;
        padding: .47rem;
        border-radius: 5px 5px;
        background-color: rgb(253, 245, 245);
  
      }
  
    }
  
  }

}

body.dark-mode{

  .flexGracias{

    background-color: #27292b;

  }

}