.sectionCarrito {


    margin-bottom: 15rem;

    .iconoMas{

        color: black;

    }

    .iconoMenos{

        color: black;

    }

    .icon{
        background-color: white;
        border: white;
    }

    .conta{
        display: flex;
    }

}

.container-flex {

    background-color: white;
    border-radius: 10px;
    padding: 2.4em;

    .contenedorCarrito {

        display: flex;
        justify-content: space-between;
        align-items: center;

        .botonCarrito1{

            order: 3;
            font-weight: 600;
            background-color: orange;
        }

        .botonCarrito2{

            order: 3;
            font-weight: 600;
            background-color: orange;
        }

        .botonCarrito3{

            order: 2;
            font-weight: 600;
            background-color: orange;

        }


    }

}

//darkMode

body.dark-mode{

    .container-flex{

        background-color: black;

        .contenedorCarrito{

            .botonCarrito3{

                background-color: white;

                &:hover{

                    color: black;

                }
                
            }

            .botonCarrito1{

                background-color: white;

                &:hover{

                    color: black;

                }

            }

        }

    }

}