.titulo__Cata {

    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
  
}

//Top mejores restaurantes

.mejoresTexto{

    text-align: center;
    margin-top: 50px;

}

.containerTop{

    margin-bottom: 60px;

    .mejoresTexto{

        h1{

            font-weight: bolder;

        }

    }
    
    .container__cardsTop{

        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 30px;

    }

}

   