.containerIR1 {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    

    .containerForm1 {

        background-repeat: no-repeat;
        background-color: white;
        background-size: cover;
        background-position: center;
        width: 25rem;
        border-radius: 20px;
        height: 29.9rem;
        color: white;
        box-shadow: 4px 12px 20px 5px rgba(0, 0, 0, .5);


        .mover {

            .containerLetras {

                margin-top: 4rem;
                display: flex;
                justify-content: center;
                position: relative;


                h2 {

                    font-weight: bolder;
                    color: black;

                }

                .imagenUsuario{

                    position: absolute;
                    bottom: 3rem;
                    height: 13vh;

                }

               


            }


            .formulario {

                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                gap: 4px;

                input {

                    margin-top: 20px;
                    border: none;
                    width: 230px;
                    border-bottom: 1px solid black;

                    &:focus {

                        outline: none;

                    }



                }

                .contentForm{

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: -30px;
                    gap: 20px;

                }


                .textoRegister {

                    margin-top: 2rem;
                    color: black;

                    a {
                        text-decoration: none;
                        transition: all .2s;
                        font-weight: bolder;

                        &:hover {

                            color: orange;

                        }

                    }

                }

                button {

                    display: inline-block;
                    background-color: black;
                    color: $colorL_Botones;
                    text-align: center;
                    font-size: 17px;
                    padding: 10px;
                    width: 120px;
                    transition: all 0.5s;
                    cursor: pointer;
                    border-radius: 20px;



                    span {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        transition: 0.5s;

                        &::after {

                            content: '»';
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            right: -15px;
                            transition: 0.5s;

                        }

                        a{
                            color: #FFFFFF;
                            text-decoration: none;
                        }
                    }

                    &:hover span {

                        padding-right: 15px;

                        &::after {

                            opacity: 1;
                            right: 0;

                        }

                    }


                }

                .boton{

                    display: inline-block;
                    background-color: black;
                    color: $colorL_Botones;
                    text-align: center;
                    font-size: 17px;
                    padding: 12px;
                    width: 120px;
                    transition: all 0.5s;
                    cursor: pointer;
                    border-radius: 20px;


                    span {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        transition: 0.5s;

                        &::after {

                            content: '»';
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            right: -15px;
                            transition: 0.5s;

                        }

                        a{
                            color: #FFFFFF;
                            text-decoration: none;
                        }
                    }

                    &:hover span {

                        padding-right: 15px;

                        &::after {

                            opacity: 1;
                            right: 0;

                        }

                    }
                }

                #toggle{

                    position: relative;
                    transform: translate(100px);
                    bottom: 35px;
                    width: 30px;
                    height: 30px;
                    background: url("../img/login-registro/cerrar-ojo.png");
                    background-size: cover;
                    cursor: pointer;

                }

                #toggle.hide{

                    background: url("../img/login-registro/vision.png");
                    background-size: cover;
                
                }

                .recaptchaFlex{

                    .g-recaptcha{

                       transform: scale(0.9);

                    }

                }

                

            }

        }


    }

}

.flexDark{

    display: flex;
    justify-content: center;
}

//darkMode 

body.dark-mode{

    .containerIR1{

        background-color: #27292b;

        .containerForm1{

            background-color: black;

            .mover{

                .containerLetras{

                    h2{

                        color: white;

                    }

                }

                .formulario{

                    .boton{

                        background-color: white;
                        color: black;

                    }

                    button{

                        background-color: white;
                        color: black;

                    }

                    .textoRegister{

                        color: white;

                    }

                }

            }
    
    
        }


    }

    .small{

        color: white;

    }
    

}



