.backgroundProfile {

    background-color: #fb8819;
    transition: background-color .3s, color .2s;

    .profilePicture {

        border-radius: 100%;
        height: 150px;
        object-fit: cover;

    }

    .datos{
        margin-top: 5%;
    }

   .contanedorImagen {

       position: relative;

       .imagen-editar {

           height: 25px;
           position: absolute;
           right: 0;
           cursor: pointer;

       }

   }

   .breadcrumbLight{

    background-color: white;

   }

}

//darkMode

body.dark-mode{

    .cuerpoDark{

        background-color: black;
        border-color: white;

    }

    .backgroundProfile{

        background-color: #27292b;

    }

    .breadcrumbDark{

        background-color: black;
        color: white;

    }

    .parraDark{

        color: white;
        transition: background-color .3s, color .2s;

    }

    .cardProfile__dark{

        background-color: black;

    }

    .botonModal{

        background-color: black;

    }

}