.backgroundProfile {

    background-color: #fb8819;
    transition: background-color .3s, color .2s;

    .profilePicture {

        border-radius: 100%;
        height: 150px;
        object-fit: cover;

    }

    .datos {
        margin-top: 5%;
    }

    .contanedorImagen {

        position: relative;

        .imagen-editar {

            height: 25px;
            position: absolute;
            right: 0;
            cursor: pointer;

        }

    }

    .breadcrumbLight {

        background-color: white;

    }

}

.textoLocal {

    background-color: white;

}

.editarImagen{

    margin-bottom: 1rem;

}

.flexCompras{

    display: flex;
    justify-content: center;

}

//darkMode

body.dark-mode {

    .cuerpoDark {

        background-color: black;
        border-color: white;

    }

    .backgroundProfile {

        background-color: #27292b;

    }

    .breadcrumbDark {

        background-color: black;
        color: white;

    }

    .parraDark {

        color: white;
        transition: background-color .3s, color .2s;

    }

    .cardProfile__dark {

        background-color: black;

    }

    .botonModal {

        background-color: black;
        color: white;
        border-color: white;

    }

    .textoLocal {
        background-color: black;
        color: white;
    }


    .card-body {

        background-color: black;
        color: white;

    }

    .modalDark{

        color: white;
        background-color: #27292b;

        .btn-close{
            background-color: white;
        }

    }

    .btn-group{

        .btn-primary{
            background-color: black;
            color: white;
        }

        .btn-secondary{
            background-color: black;
            color: white;
        }

    }

    .modalPerfil{

        background-color: black;
        color: white;

        .btn-close{

            background-color: white;


        }

    }

    .imagenPerfil{

        margin-bottom: 1rem;

    }

    .lista2{

        li::before{
            background-color: #27292b;
            color: white;
        }

    }

    .buttonReporte{

       background-color: black;
       color: white;
       border: 1px solid white;
    
    }



}

#lista {
    margin-left: 10px;
}

.lista2 {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.sinEspa{
    margin-bottom: 0rem;
}

.lista2 {
    ol {

        margin: 0 0 0 2em;
    }
}

.lista2 {
    li {

        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: .5em 0;
        background: #ddd;
        color: #444;
        text-decoration: none;
        border-radius: .3em;
        transition: all .3s ease-out;
    }
}

.lista2 {
    li:hover {

        background: #eee;
    }
}

.lista2 {
    li:hover:before {

        transform: rotate(360deg);
    }
}

.lista2 {
    li:before {

        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: -1.3em;
        top: 50%;
        margin-top: -1.3em;
        background: #87ceeb;
        height: 2em;
        width: 2em;
        line-height: 1.5em;
        border: .3em solid #fff;
        text-align: center;
        font-weight: bold;
        border-radius: 2em;
        transition: all .3s ease-out;
    }
}

.listaHisto {
    border: none;
    height: 0px;
}

.buttonReporte{

    margin-top: 1rem;
    outline: none;
    border: none;
    padding: .6rem;
    width: 1rem;
    border-radius: .3rem;
    transition: border 3s;

    &:hover{
        border: 1px solid black;
    }

}

.enlaceReporte{

    color: black;
    font-weight: bold;
    text-decoration: none;

}