.conteiner_restaurantes{
    display: flex;

    .containerColum{
        margin-top: 55px;
        .contenedorResTipo{
            
            .tiposRes{
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                flex: 1 1;
                .tipo{
                    flex: 1 1;
                    text-align: center;
                    font-weight: bolder;
                    
                    .circulo{
                        border-radius: 50%;
                        width: 80px;
                        height: 80px;
                        background-color: #1E1E24;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin:0px auto;
                        img{
                            width: 55px;
    
                        }
                    }
                }
            }
        }

        .conteinerCardResta{
            width: 80%;
            height: 165px;
            margin: auto;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            /* justify-content: center; */
            /* background-color: #fff; */
            box-shadow: 0 3px 13px 1px /* rgb(0 0 0 / 9%) */ #00000085;
            flex-wrap: nowrap;
            background-color: #1a1e21;
            color: whitesmoke;
        
            .imagenRestaurante{
                height: 85%;
                width: 150px;
                object-fit: contain;
                border: 0.6px solid #1E1E24;
                margin: 0px 0px 0px 5px;
            }

        
            .contenedorTexto{
                /* text-align: center; */
                padding: 12px;
                font-family: Lato,sans-serif;
                font-weight: 400;
                line-height: 1;
        
                .nombreRestaurante{
                    font-size: 1.1rem;
                }
        
                .ubiRestaurante{
                    font-size: 0.9rem;
                    margin-top: 15px;
                    padding-bottom: 30px;
                }
        
                .puntuacionRestaurante{
                    font-size: 0.99rem;
                    text-align: justify;
                    
                }
            }
        
        }

        .contenedorProductos{
            width: 85%;
            min-height: 220px;
            margin: auto;
            margin-bottom: 20px;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            box-shadow: 0 3px 13px 1px /* rgb(0 0 0 / 9%) */ #00000085;
            background-color: #1a1e21;
            color: whitesmoke;
            
            .containerCategorias{
                
                .titulo{
                    height: auto;
                    font-weight: bolder;
                    font-size: 18px;
                    p{
                        margin-bottom: 5px;
                        text-align: center;
                    }
                }
    
                .lista{
                    margin: 0px;
                    margin-top: 5px;

                    a{
                        font-weight: bold;
                        text-decoration: none;
                        color: whitesmoke;
                    }

                    .imgProductos{
                        height: 35px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

}
