.container__CardProd{
    width: 50%;
}

.bordes{
    border: none;
}

.conteiner_restaurantes{

    min-height: 800px;

    .containerColum{
        margin-top: 5px;
        .columnas{
            .conteimerLocal{
                width: 100%;
                height: 265px;
                margin: auto;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                /* justify-content: center; */
                /* background-color: #fff; */
                box-shadow: 0 3px 13px 1px /* rgb(0 0 0 / 9%) */ #00000085;
                flex-wrap: nowrap;
                background-color: #1a1e21;
                color: whitesmoke;
                border-radius: 20px;
                border: #fff solid 1px;
    
                .conteinerLocalImagen{
                    height: 100%;
                    width: 30%;
                    display: flex;
                    .imagenRestaurante{
                        height: auto;
                        width: 100%;
                        object-fit: contain;
                    }
                }
                .continerTextoBusca{
                    width: 70%;
                    height: 100%;
                    .contenedorTexto{
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        height: 50%;
                        div{
                            p{
                                font-size: 20px;
                            }
                        }
                    }
    
                    .contenedorBuscadorRes{
                        align-items: center;
                        margin-bottom: 0;
                        .containerMedias{
                            height: 45px;
                        
                        }
                    }
                }
            }
    
            .conteinerProductos{
                display: flex;
                flex-wrap: wrap;
                flex: 1 1;

                .centra{
                    justify-content: center;
                }

                .dis{
                    position: relative;
                    top: -80%;
                    left: 72%;
                }
    
                .producto{
                    width: 80%;
    
                    .contenedorTexto{
                        text-align: start;
                        .ingredientes{
                            padding-bottom: 0;
                            text-align: initial;
                        }
                    }
                }
            }
        }
    
    }
}

//valoraciones 

.wrapperRate{

    position: relative;
    width: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

    --color-yellow: #ffcc48;
    --color-border: #f4f4f4;
    --color-primary: #393a5d;
    --color-secondary: #888999;
    --color-blue: #537ae1;
    --color-white: #fff;

    .fa-star,.fa-star-half{

        color: var(--color-yellow);

    }

    .rating-box{

        background-color: #fff;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        padding: 1rem 2rem 2rem;
        box-shadow: 0 0 10px #e6e6e6;

    }

    .rating-header{

        .titleRate{

            text-align: center;
            font-size: 18px;
            color: var(--color-primary);
            margin-bottom: 16px;

        }

    }

    .info-review{

        display: flex;
        align-items: center;
        bottom: 1px solid var(--color-border);
        margin: 0 -2rem;
        padding: 20px 2rem;

        .left{

            display: flex;
            flex-grow: 1;
            margin-right: 10px;

            img{

                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 5px;

            }

            .text-container{

                margin: 0 8px;
                font-weight: 600;
                width: 100%;

            }

            .txt,.author{

                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                word-break: break-word;

            }

            .txt{

                margin-bottom: 5px;
                -webkit-line-clamp: 2;

            }

            .author{

                color: var(--color-secondary);
                -webkit-line-clamp: 1;

            }

        }

    }

    //end info review

    .info-rating{

        padding: 20px 0;
        font-size: 12px;
        font-weight: 500;
        color: var(--color-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .avg{

            color: var(--color-primary);
            font-weight: 700;
            font-size: 28px;
            margin-right: 3px;

        }

        .rating-count{

            margin-top: 5px;
            text-align: right;

        }

    }

    .rating-bar{

        .bar-item{

            display: flex;
            align-items: center;
            font-size: 14px;

            &:not(:last-child){

                margin-bottom: 5px;

            }

        }

        .star{

            i{

                margin-left: 3px;

            }

        }

        .star,.percent{

            color: var(--color-blue);
            flex-shrink: 0;

        }

        .progress{

            flex-grow: 1;
            margin: 0 10px;
            height: 8px;
            border-radius: 5px;
            overflow: hidden;
            background-color: #f5f8ff;

        }

        .progress-line{

            height: 100%;
            width: 0%;
            transition: all 0.4s ease-in;
            background-color: var(--color-yellow);

        }

    }

    //end rating bar

    .review-box{

        padding: 30px 0 0;

    }

    .review-header{

        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-secondary);
        margin-bottom: 15px;
        margin-right: 5px;

        .count-review span{

            margin-right: 5px;

        }

        .txt{

            font-weight: 600;
            cursor: pointer;

        }

    }

    //end review header

    .review-content{

        max-height: 250px;
        overflow-y: auto;
        padding-right: 5px;

        &::-webkit-scrollbar{

            width: 5px;

        }

        &::-webkit-scrollbar-track{

            border-radius: 10px;

        }

        &::-webkit-scrollbar-thumb{

            visibility: hidden;
            border-radius: 10px;
            background-color: #ebebeb;

        }

        &:hover{

            &::-webkit-scrollbar-thumb{

                visibility: visible;

            }

        }

        .user-review{

            &:not(:last-child){

                margin-bottom: 15px;
                border-bottom: 1px solid var(--color-border);
                padding-bottom: 15px;

            }

        }

        .user-rating{

            display: flex;
            justify-content: space-between;

        }

        .stars{

            font-size: 14px;

        }

        .comment-content{

            padding: 10px 0;
            color: var(--color-secondary);

        }

        time{

            color: var(--color-secondary);

        }

    }

    //end review-content

    .feedback-user{

        width: 100%;
        position: absolute;
        overflow: hidden;
        transform: scale(0.9);
        opacity: 0;
        visibility: hidden;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: #fff;
        border-radius: 20px;
        transition: all .3s cubic-bezier(0.165,0.84,0.44,1);
        backface-visibility: hidden;

        &.show{

            transform: scale(1);
            opacity: 1;
            visibility: visible;

        }

        .feedback-header,.feedback-content{


            padding: 2rem;


        }

        .feedback-header{

            color: #fff;
            background-color: var(--color-blue);

            .titleRate{

                margin-bottom: 1rem;
                font-weight: 600;
                font-size: 24px;

            }

            .txt{

                line-height: 1.5;

            }

            .close-btn i{

                cursor: pointer;

            }

            .close-btn{

                text-align: right;

            }

        }

        .feedback-content{

            .rating{

                font-weight: 600;
                color: var(--color-primary);
                font-size: 18px;
                margin-bottom: 12px;

            }

            .stars{

                font-size: 20px;

            }

            .form{

                display: flex;
                flex-direction: column;
                margin: 2rem 0;

                .form-input:nth-child(1){

                    margin-bottom: 1rem;

                }

                label{

                    display: inline-block;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: var(--color-secondary);

                }

                input,textarea{

                    background-color: #f5f9fb;
                    border: none;
                    outline: none;
                    display: block;
                    width: 100%;
                    border-radius: 5px;
                    padding: 10px 12px;
                    border: 1px solid transparent;

                    &:focus{

                        border-color: #d3d3d3;

                    }

                    &::placeholder{

                        color: var(--color-primary);

                    }

                }


                textarea{

                    resize: none;

                }
            }

            //end form

            .submit{

                color: #fff;
                background-color: var(--color-blue);
                outline: none;
                border: none;
                padding: 12px;
                font-size: 17px;
                width: 100%;
                border-radius: 5px;
                cursor: pointer;

            }

        }

    }

}

.filtroComida{

    display: none;

}

//darkMode

body.dark-mode{


    .rating-box{

        background-color: #1a1e21;

        .titleRate{

            color: white;

        }

        .feedback-header{

            background-color: #1a1e21;
    
        }

    }

    .count-review{

        color: white;

    }

    .info-rating{


        .star-count{

            .avg{
    
                color: var(--color-white);
    
            }

            .deCinco{

                color: var(--color-white);

            }
    
        }

    }


    .wrapperRate{


        .feedback-user{

            .feedback-content{

                .submit{

                    background-color: #1a1e21;
    
                }

            }

        }

        .review-content{

            .comment-content{

                color: var(--color-white);

            }

        }

    }
    


    .user-review{

        time {

            color: var(--color-white);
    
        }

    }

    .feedback-content{

        background-color: #27292b;

        .rating{

            .title{

                color: white;

            }

        }

        .form{

            .form-input{

                .nombreDark{

                    color: white;

                }

                .commentDark{

                    color: white;

                }

            }

        }

    }

    .modalRes{

        background-color: #1a1e21;
        color: white;

    }

    .modal-body{

        background-color: #1a1e21;
        color: white;

    }

    .backgroundModal {

        .modal-content {

            .modal-header {

                background-color: #1a1e21;

                .modal-title {

                    color: white;

                }

            }

        }

    }

    .flexBotones{

        #conta{

            color: white;

        }

    }

    .wrapperRate{

        .rating-bar{

            .star{

                color: white;


            }

        }
        
    }

}