.conteiner_restaurantes {
    display: flex;
    min-height: 800px;

    .containerColum {
        margin-top: 55px;

        .contenedorResTipo {

            .tiposRes {
                display: flex;
                flex-wrap: wrap;
                gap: 4px;
                flex: 1 1;

                .tipo {
                    flex: 1 1;
                    text-align: center;
                    font-weight: bolder;

                    .buttonTipo {
                        border: none;
                        background-color: #fb8819;
                    }

                    .circulo {
                        border-radius: 50%;
                        width: 80px;
                        height: 80px;
                        background-color: #1E1E24;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0px auto;
                        box-shadow: 0 3px 13px 1px
                            /* rgb(0 0 0 / 9%) */
                            #00000085;

                        img {
                            width: 55px;

                        }
                    }
                }
            }
        }

        .conteinerCardResta {
            width: 80%;
            height: 165px;
            margin: auto;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            box-shadow: 0 3px 13px 1px #00000085;
            flex-wrap: nowrap;
            background-color: #1a1e21;
            color: whitesmoke;
            text-decoration: none;
            border-radius: 10px;
            border: 1px solid #1E1E24;

            .imagenRestaurante {
                height: 85%;
                width: 150px;
                object-fit: contain;
                border: 0.6px solid #1E1E24;
                margin: 0px 0px 0px 5px;
            }


            .contenedorTexto {
                padding: 12px;
                font-weight: bold;
                line-height: 1;
                text-align: initial;

                .nombreRestaurante {
                    font-size: 1.1rem;
                    text-align: initial;
                }

                .ubiRestaurante {
                    font-size: 0.8rem;
                    margin-top: 15px;
                    padding-bottom: 5px;
                    text-align: inherit;
                }

                .puntuacionRestaurante {
                    font-size: 0.99rem;
                    text-align: justify;

                }
            }

        }

        .contenedorProductos {
            width: 85%;
            min-height: 220px;
            padding-bottom: 10px;
            margin: auto;
            margin-bottom: 20px;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            box-shadow: 0 3px 13px 1px
                /* rgb(0 0 0 / 9%) */
                #00000085;
            background-color: #1a1e21;
            color: whitesmoke;
            border-radius: 20px;

            .titulo {
                height: auto;
                font-weight: bolder;
                font-size: 18px;

                p {
                    margin-bottom: 5px;
                    text-align: center;
                }
            }

            .containerCategorias {


                .lista {
                    margin: 0px;
                    margin-top: 5px;

                    a {
                        font-weight: bold;
                        text-decoration: none;
                        color: whitesmoke;
                    }

                    .imgProductos {
                        height: 35px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

}

.filtro {

    display: none;

}

.containerMedias {

    display: flex;
    justify-content: center;

}

//darkMode

body.dark-mode{

    .conteiner_restaurantes{

        .containerColum{

            .contenedorResTipo{

                .tiposRes{
                    
                    .tipo{

                        .buttonTipo{

                            background-color: #27292b;

                        }

                    }

                }

            }

        }

    }

    .darkCirculo{

        color: white;
    
    }

}